.profile {
  padding-top: 40px;
  max-width: 282px;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .profile {
    display: flex;
    justify-content: space-between;
    margin: 0;
    max-width: 880px;
  }
}