.card__like {
  transition: 0.5s linear;
  background: url(../../../images/card__like.svg) no-repeat;
  border: 0;
  margin-right: 20px;
  height: 19px;
  width: 22px;
  flex-shrink: 0;
}

.card__like:hover {
  cursor: pointer;
  opacity: 0.5;
}